
@{
    ViewBag.Title = "CompleteTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Javascript/CompleteTestApp.js"> </script>
}
<h2><b>Test: @ViewBag.TestName</b></h2>

<p>Please record your results for the following questions:</p>
<div id="main" ng-app="CompleteTestApp" ng-controller="CompleteTestController">
        @{
        @:<form id="testForm">
        
            int pageCounter = 0;

            for (int i = 1; i < ViewBag.Questions.Count + 1; i++)
            {

                if (i % 5 == 1)
                {
                    pageCounter++;
                    @:<div id="@pageCounter" ng-show="check(@pageCounter)" style="display: none;">
                }
                        switch ((int)ViewBag.Questions[i - 1].Answer_Type)
                        {
                            case 1: //Multiple choice type
                                @:<p><b>Question @i: @ViewBag.Questions[i - 1].Question_Title</b></p>


                                for (int j = 1; j < ViewBag.Questions[i - 1].Answers.Count + 1; j++)
                                {
                                    @:<input type="radio" name="@ViewBag.Questions[i - 1].Question_Id" value="@ViewBag.Questions[i - 1].Answers[j - 1]" ng-model="test[@ViewBag.Questions[i - 1].Question_Id]">@ViewBag.Questions[i - 1].Answers[j - 1]<br />
                                    }

                                break;
                            case 2: //Multiple answer type
                            @:<p><b>Question @i: @ViewBag.Questions[i - 1].Question_Title</b></p>


                                for (int j = 1; j < ViewBag.Questions[i - 1].Answers.Count + 1; j++)
                                {
                                    @:<input type="checkbox" name="@ViewBag.Questions[i - 1].Question_Id" value="@ViewBag.Questions[i - 1].Answers[j - 1]" ng-change="objToArr(multis[@ViewBag.Questions[i - 1].Question_Id], @ViewBag.Questions[i - 1].Question_Id)" ng-model="multis[@ViewBag.Questions[i - 1].Question_Id][@j]" ng-true-value="'@ViewBag.Questions[i - 1].Answers[j - 1]'" ng-false-value="">@ViewBag.Questions[i - 1].Answers[j - 1]<br />
                                    }
                                break;
                            case 3: //Measurement type
                            @:<p><b>Question @i: @ViewBag.Questions[i - 1].Question_Title</b></p><input id="@ViewBag.Questions[i - 1].Question_Id" type="number" ng-model="test[@ViewBag.Questions[i - 1].Question_Id]" required /><br />
                                break;

                            case 4: //Text type
                            @:<p><b>Question @i: @ViewBag.Questions[i - 1].Question_Title</b></p><input id="@ViewBag.Questions[i - 1].Question_Id" type="text" ng-model="test[@ViewBag.Questions[i - 1].Question_Id]" required /><br />
                                break;
                            default:
                                break;
                        }
                        @:<br />




                if (i % 5 == 0 || i == ViewBag.Questions.Count)
                {
                    @:</div>
                }
            }
        @:</form>
        }
        <nav>
            <ul class="pagination">
                <li>
                    <a href="" ng-click="setIndex(index-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @{
                    int pageIndex = 0;
                    for (int i = 1; i < ViewBag.Questions.Count + 1; i++)
                    {
                        if (i % 5 == 1)
                        {
                            pageIndex++;
                            @:
                            <li ng-class="isActive(@pageIndex)"><a href="" ng-click="setIndex(@pageIndex)">@pageIndex</a></li>
                        }
                    }
                }
                <li>
                    <a href="" ng-click="setIndex(index+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <button id="submitBtn" ng-click="submitTest(@ViewBag.TrialId, @ViewBag.TestId)" class="btn-sm btn-success">Submit</button>
        <button id="backBtn" onclick="location.href = '/Participant/InterventionResults';" class="btn-sm">Cancel</button>

        {{test}} <br />
        {{answers}} <br />
        Multis: {{multis}}
</div>




